.main {
  padding: 3rem 1rem;
}

.title {
  text-align: center;
}

.card {
  padding: 1.5rem;
  margin: 1rem 0;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: transform 0.1s;
  width: 100%;
  height: 240px;
}

.card:hover,
.card:focus,
.card:active {
  transform: scale(1.02);
}

.card p {
  line-height: 1.5;
}

@media (min-width: 768px) {
  .main {
    max-width: 800px;
    margin: 0 auto;
  }

  .card {
    margin: 0 auto;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-top: 3rem;
  }
}
